:root{
    --primaria:rgb(67, 67, 247)
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    border-bottom: 2px solid black;
    padding: 20px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color: var(--primaria);
    color: white;
}
h2{
    font-size: 20px;
}
aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img {
    
    width: 90vw;
    height: 65vh;
    border: 50px;
    padding: 30px;
}
.sobre{
    background-color: var(--primaria);
    color: white;
    padding: 50px;
    padding-bottom: 60px
    ;
    
}
.contato{
    padding: 30px;
    color: var(--primaria);
}

span, a{
   float: right;
   padding-right: 10px;
   padding-left: 10px;
}
a:hover{
    color: navy;
    background-color:white;
    border-radius: 0%;
}
a{
    color: white;
    text-decoration: none;
}
input, label, textarea{
    margin: 3px;
}
button{
    float: right;
    background-color:var(--primaria) ;
    color: white;
}
